[Unit]
Description=Wayland Clipboard History
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch /usr/bin/cliphist store
