[Unit]
Description=Wayland Clipboard History
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=%h/.local/bin/wl-paste --watch cliphist store
