[Unit]
Description=Orion Media Google Drive Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStartPre=%h/dotfiles/install/rclone/stage-recovery.sh
ExecStart=%h/dotfiles/install/rclone/media-backup.sh copy
ExecStart=%h/dotfiles/install/rclone/media-cloud-only.sh move
