[Unit]
Description=Orion Media Google Drive Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStartPre=/home/murat/dotfiles/install/rclone/stage-recovery.sh
ExecStart=/home/murat/dotfiles/install/rclone/media-backup.sh copy
