[Unit]
Description=Copy Zellij full scrollback to Wayland clipboard

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/home/murat/.local/bin/wl-copy < /tmp/zellij-copy.txt'
