themes {
    orion_dark {
        fg "#888888"
        bg "#0a0a0a"

        black "#0a0a0a"
        red "#553333"
        green "#445544"
        yellow "#665f3a"
        blue "#44556a"
        magenta "#554466"
        cyan "#446666"
        white "#999999"
        orange "#665044"
    }
}
