[Desktop Entry]
Type=Application
Name=Okular
Exec=bash -lc 'QT_QPA_PLATFORMTHEME=org.kde.plasma.integration QT_STYLE_OVERRIDE=Breeze KDE_SESSION_VERSION=6 KDE_FULL_SESSION=true XDG_CURRENT_DESKTOP=KDE XDG_SESSION_DESKTOP=KDE okular %U'
MimeType=application/pdf;
Terminal=false
Categories=Office;Viewer;
