[Desktop Entry]
Type=Application
Name=Ark
Exec=/home/murat/.config/wayland/scripts/qt-kde-launch ark %U
MimeType=application/zip;application/x-tar;application/x-7z-compressed;
Terminal=false
Categories=Utility;Archiving;
