[Desktop Entry]
Type=Application
Name=Zellij
Comment=Open Zellij in Foot
Exec=/usr/local/bin/foot -e /usr/local/bin/zellij
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
